.App-header {
  background-color: #d4edda; /* Fondo verde claro */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
