.App-header {
  background-color: #FFD700; /* Cambiado a un color más colorido */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(105, 177, 72);
}
